*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:hover,
nav ul li a.active{
    color:#00bcd4;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00bcd4;
}

.hero{
    width:90%;
    max-width:1200px;
    margin:80px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:60px;
    margin:15px 0;
}

.hero-text h2{
    color:#00bcd4;
    margin-bottom:20px;
}

.hero-text p{
    line-height:1.8;
    color:#d1d5db;
}

.hero-image{
    flex:1;
    text-align:center;
}

.hero-image img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #00bcd4;
}

.buttons{
    margin-top:30px;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    background:#00bcd4;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin-right:15px;
    transition:.3s;
}

.btn:hover{
    background:#0097a7;
}

.btn2{
    background:transparent;
    border:2px solid #00bcd4;
}

.btn2:hover{
    background:#00bcd4;
}

footer{
    text-align:center;
    padding:25px;
    background:#111827;
    margin-top:50px;
}

/* ===========================
   ABOUT PAGE
=========================== */

.about-page{
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    text-align: center;
}

.about-image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #00bcd4;
    box-shadow: 0 0 30px rgba(0,188,212,.4);
    transition: .4s;
}

.about-image img:hover{
    transform: scale(1.05);
}

.about-content{
    flex: 2;
    background: rgba(255,255,255,.05);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.about-content h1{
    font-size: 42px;
    margin-bottom: 20px;
    color: #00bcd4;
}

.about-content h2{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #00bcd4;
}

.about-content p{
    line-height: 1.8;
    margin-bottom: 15px;
    color: #ddd;
}

.details-table{
    width:100%;
    border-collapse: collapse;
    margin-top:20px;
}

.details-table td{
    padding:15px;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.details-table td:first-child{
    color:#00bcd4;
    width:180px;
    font-weight:600;
}

.details-table td:last-child{
    color:#eee;
}

/* Responsive */

@media(max-width:900px){

.about-page{
    flex-direction:column;
    text-align:center;
}

.about-image img{
    width:250px;
    height:250px;
}

.about-content{
    padding:25px;
}

.details-table td{
    display:block;
    width:100%;
    text-align:center;
}

}

/*=========================
 EDUCATION PAGE
=========================*/

.education{

    width:90%;
    max-width:1100px;
    margin:60px auto;

}

.education h1{

    text-align:center;
    color:#00bcd4;
    margin-bottom:60px;
    font-size:42px;

}

.timeline{

    position:relative;
    margin:auto;
    padding-left:30px;
    border-left:4px solid #00bcd4;

}

.timeline-item{

    margin-bottom:50px;
    position:relative;

}

.timeline-item::before{

    content:"";
    width:18px;
    height:18px;
    background:#00bcd4;
    border-radius:50%;

    position:absolute;
    left:-41px;
    top:18px;

}

.timeline-content{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(10px);

    padding:25px;

    border-radius:15px;

    transition:.3s;

}

.timeline-content:hover{

    transform:translateX(10px);

    box-shadow:0 10px 30px rgba(0,188,212,.3);

}

.timeline-content h2{

    color:#00bcd4;

}

.timeline-content h3{

    color:#ffffff;

    margin-top:8px;

}

.timeline-content span{

    display:block;

    margin:12px 0;

    color:#9ca3af;

}

.timeline-content p{

    color:#d1d5db;

    line-height:1.8;

}

@media(max-width:768px){

.timeline{

    border-left:none;

    padding-left:0;

}

.timeline-item::before{

    display:none;

}

}


/*=========================
 EXPERIENCE PAGE
=========================*/

.experience{

width:90%;
max-width:1100px;
margin:60px auto;

}

.experience h1{

text-align:center;
font-size:42px;
color:#00bcd4;
margin-bottom:50px;

}

.experience-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(10px);

border-radius:20px;

padding:40px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

transition:.3s;

}

.experience-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 40px rgba(0,188,212,.4);

}

.company{

margin-bottom:30px;

}

.company h2{

color:#00bcd4;

margin-bottom:10px;

}

.company h3{

color:#ffffff;

}

.company span{

display:block;

margin-top:10px;

color:#9ca3af;

}

.work h3{

margin-bottom:20px;

color:#00bcd4;

}

.work ul{

padding-left:25px;

}

.work li{

margin-bottom:15px;

color:#d1d5db;

line-height:1.8;

}

@media(max-width:768px){

.experience-card{

padding:25px;

}

}

/*=========================
SKILLS PAGE
=========================*/

.skills{

width:90%;
max-width:1000px;
margin:60px auto;

}

.skills h1{

text-align:center;
font-size:42px;
color:#00bcd4;
margin-bottom:50px;

}

.skill-box{

background:rgba(255,255,255,.05);

padding:40px;

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0 10px 30px rgba(0,0,0,.3);

}

.skill{

margin-bottom:30px;

}

.skill h3{

margin-bottom:10px;

color:white;

}

.bar{

width:100%;

height:25px;

background:#1e293b;

border-radius:30px;

overflow:hidden;

}

.fill{

height:100%;

background:linear-gradient(90deg,#00bcd4,#3b82f6);

text-align:right;

padding-right:10px;

line-height:25px;

font-size:14px;

font-weight:bold;

color:white;

border-radius:30px;

transition:1s;

}

.html{width:90%;}
.css{width:85%;}
.js{width:70%;}
.c{width:75%;}
.sql{width:80%;}
.excel{width:90%;}
.comm{width:85%;}

.skill:hover .fill{

filter:brightness(1.2);

}

.skills-page{
    width:90%;
    max-width:1200px;
    margin:60px auto;
}

.skills-page h1{
    text-align:center;
    color:#00bcd4;
    font-size:42px;
    margin-bottom:50px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.skill-card{
    background:#1d263b;
    color:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
    font-size:18px;
    font-weight:500;
    transition:.3s;
    border:2px solid transparent;
    cursor:pointer;
}

.skill-card:hover{
    transform:translateY(-8px);
    border-color:#00bcd4;
    box-shadow:0 10px 25px rgba(0,188,212,.3);
}



/*=========================
CONTACT PAGE
=========================*/

.contact{

width:90%;
max-width:1200px;
margin:60px auto;

}

.contact h1{

text-align:center;
font-size:42px;
color:#00bcd4;
margin-bottom:50px;

}

.contact-container{

display:flex;
gap:40px;
flex-wrap:wrap;

}

.contact-info{

flex:1;

background:rgba(255,255,255,.05);

padding:30px;

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.contact-info h2{

color:#00bcd4;
margin-bottom:20px;

}

.contact-info p{

margin-bottom:20px;
line-height:1.8;
color:#ddd;

}

.contact-info a{

color:#00bcd4;
text-decoration:none;

}

.contact-form{

flex:1;

background:rgba(255,255,255,.05);

padding:30px;

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.contact-form form{

display:flex;
flex-direction:column;

}

.contact-form input,
.contact-form textarea{

padding:15px;

margin-bottom:20px;

border:none;

outline:none;

border-radius:10px;

font-size:16px;

background:#1e293b;

color:white;

}

.contact-form button{

padding:15px;

border:none;

border-radius:10px;

background:#00bcd4;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.contact-form button:hover{

background:#0097a7;

}

@media(max-width:768px){

.contact-container{

flex-direction:column;

}

}

/* JavaScript Animation */

.hidden{

opacity:0;

transform:translateY(40px);

transition:all .8s ease;

}

.show{

opacity:1;

transform:translateY(0);

}

/* Scroll Top Button */

#topBtn{

position:fixed;

right:30px;

bottom:30px;

width:50px;

height:50px;

border:none;

border-radius:50%;

background:#00bcd4;

color:white;

font-size:22px;

cursor:pointer;

display:none;

box-shadow:0 5px 15px rgba(0,0,0,.3);

transition:.3s;

}

#topBtn:hover{

transform:scale(1.1);

background:#0097a7;

}